<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link th:href="@{/css/header.css}" rel="stylesheet">
</head>
<body>
<header>
    <div th:replace="fragments/header :: header"></div>
</header>
<div sec:authorize ="isAuthenticated()">
    <span sec:authentication="name"></span>님 반갑습니다!
    <p th:text="${#authentication.authorities}"></p>
    <span sec:authentication="principal.username"></span>
</div>
</body>
</html>